<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Busca una consulta pel seu número
    </h1>

    <form action="/api/searchconsulta" method="post">
        <label for="numero">Numero de consulta:</label><br>
        <input type="integer" name="numero" id="numero" value="2"><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>